<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="../static/images/logo.png" type="image/png" />
    <title>Страница товара</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo"><h1>Доставка 3000</h1></div>
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="#index">Главная</a></li>
            <li><a href="#profile">Личный кабинет</a></li>
            <li><a href="#auth">Войти</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section>
        <h3 id="name">
          Длинное длинное название товара - во какое длинное может быть и еще
          длиннее и длиннее и длиннее и длиннее и длиннее и длиннее и длиннее и
          длиннее
        </h3>
        <p>Цена: 200 000 000 руб.</p>
      </section>
    </main>
    <a href="index.html">Главная</a>
  </body>
</html>
